* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@font-face {
  font-family: "SuperFoods";
  src: url("./assets/fonts/SuperFoods-2OxXo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #06402b;
  --main-color: #f4f4f4;
  --secondary-color: rgb(231, 127, 8);
  --secondary-color-hover: rgb(255, 140, 0);
  --danger-color: #ff0000;
  --success-color: #00ff00;
  --warning-color: #ffcc00;
  --info-color: #33ccff;
  --transition: 0.3s ease;

  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-color);
}
/* 
main {
  display: flex;
  justify-content: center;
  align-items: center;
} */


.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.desktop {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SuperFoods", sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.btn {
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-family: "SuperFoods", sans-serif;
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition), transform var(--transition),
    box-shadow var(--transition), box-shadow var(--transition);
}

.btn:hover {
  background-color: var(--secondary-color-hover);
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(0);
  box-shadow: none;
}

header {
  background-color: var(--primary-color);
  color: var(--main-color);
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
  width: 100%;
}

.nav-logo {
  width: 200px;
  position: relative;
  z-index: 999;
}

.nav-logo img {
  width: 100%;
  position: absolute;
  top: -20px;
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 25px;
}

.music-control {
  position: absolute;
  left: 0;
  top: 200%;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--primary-color);
  padding: 0.5rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  border-radius: 0 0 5px 5px;
  z-index: 1001;
}

.mute-button,
.music-control-button {
  background-color: transparent;
  border: none;
  color: var(--main-color);
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.mute-button:hover,
.music-control-button:hover {
  color: var(--secondary-color);
}

.volumeSlider {
  width: 100px;
  margin-left: 10px;
}

.mute-button {
  background-color: transparent;
  border: none;
  color: var(--main-color);
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.mute-button:hover {
  color: var(--secondary-color);
}

.hamburger {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.musicButton {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.hamburger i {
  font-size: 2rem;
  color: var(--main-color);
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.nav-links-desktop {
  display: none;
}

.nav-links-mobile {
  position: absolute;
  top: 3rem;
  background-color: var(--primary-color);
  width: 100%;
  list-style: none;
  padding: 4rem 2rem 2rem;
  height: fit-content;
  gap: 1rem;
  display: none;
}

.nav-links-mobile li {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--main-color);
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  padding-top: 10rem;
}

.click-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100%; */
}

.currentBuds {
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--main-color);
  padding: 2rem;
}

#buds {
  font-size: 2.5rem;
  font-family: "SuperFoods", sans-serif;
}

#clicker img {
  width: 233px;
  height: 233px;
  object-fit: cover;
  cursor: pointer;
  text-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

#clicker img:hover {
  transform: scale(1.1);
}

#clicker img:active {
  transform: scale(1.05);
  text-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

/* .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.shop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  z-index: 1;
  background-color: var(--main-color);
}

.upgrade-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  position: relative;
  width: 100%;
  max-width: 351px;
  border: 1px solid black;
  min-height: 58px;
  background-color: var(--primary-color);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
  overflow-x: scroll;
}

.upgrade {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.upgrade:hover {
  border-color: green;
}

.upgrade img {
  width: 2.2rem;
  height: 2.2rem;
  object-fit: cover;
}

.buildings {
  width: 100%;
}

.building-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

.building-controls input[type="radio"] {
  display: none;
}

.building-controls label {
  cursor: pointer;
}

.setting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.building-shop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 55vh;
  gap: 1rem;
  overflow-y: scroll;
  border: 2px solid black;
  padding: 1rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  min-width: 350px;
  max-width: 360px;
}

.building {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.building:hover {
  border-color: rgb(0, 128, 0);
  box-shadow: 0 0 15px 0 rgba(0, 128, 0, 0.5);
}

.inventory {
  font-size: 2rem;
  opacity: 0.65;
}

.building-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title h3 {
  width: 40%;
}

.title p {
  font-size: 1.2rem;
  margin-top: 0.25rem;
  font-weight: bold;
}

.title p::after {
  content: "";
  display: inline-block;
  background-image: url(./assets/img/click_img.webp);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
  margin-left: 0.25rem;
}

.building img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

/* Stats */

.stats-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  background-color: var(--main-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.stats-container h2,
.stats-container h3 {
  width: 100%;
  text-align: center;
  color: var(--primary-color);
}

.stats-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.stats-container h3 {
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  color: var(--secondary-color);
}

.stats-container table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.stats-container th,
.stats-container td {
  padding: 0.75rem;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
}

.stats-container td {
  background-color: var(--main-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.stats-container td:first-child {
  font-weight: bold;
  color: var(--secondary-color);
}

.stats-container td:last-child {
  text-align: right;
}

.stats-table tr td:first-child {
  min-width: 60%;
  max-width: 60%;
}

.stats-table tr td:last-child {
  min-width: 40%;
  max-width: 40%;
  text-align: right;
  font-weight: bold;
  font-size: 1.1rem;
}

.upgrade-tag {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.1rem 0.3rem;
  background-color: green;
  color: white;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.upgrade-info {
  display: block;
  position: absolute;
  left: 50%;
  top: 50vh;
  background-color: grey;
  padding: 0.5rem 2rem;
  width: 90%;
  max-width: 100%;
  border: 1px solid black;
  transform: translateX(-50%);
  pointer-events: none;
}


.upgrade-info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid white;
}


/* Footer */

footer {
  background-color: var(--primary-color);
  color: var(--main-color);
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  margin-bottom: 1rem;
}

.footer-socials {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#leaf-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1; /* Keep behind all other elements */
  overflow: hidden;
}

.leaf {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("./assets/img/click_img.webp");
  background-size: contain;
  background-repeat: no-repeat;
  animation: fall linear forwards, fadeOut 2s forwards;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* CSS for floating buds animation */
.buds-animation {
  position: absolute;
  font-family: "SuperFoods", sans-serif;
  font-size: 2rem;
  color: black;
  font-weight: 400;
  animation: float-up 1.5s ease-out forwards;
  pointer-events: none;
}

@keyframes float-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1rem); /* Move up 1rem */
    opacity: 0;
  }
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  background-color: var(--main-color);
  margin: 15% auto; /* Center the modal */
  padding: 2rem;
  border: 1px solid var(--primary-color);
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.modal-content p {
  color: var(--danger-color);
  margin-bottom: 1.5rem;
}

.btn-danger {
  background-color: var(--danger-color);
}

.btn-cancel {
  background-color: var(--warning-color);
  margin-left: 1rem;
}

@media screen and (min-width: 900px) {
  .desktop {
    display: block;
  }

  .musicButton {
    left: 10rem;
  }

  .navbar {
    justify-content: space-between;
  }

  .hamburger {
    display: none;
  }

  .nav-links-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
  }

  .music-control {
    position: absolute;
    left: 10%;
    top: 94%;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0 0 5px 5px;
  }
  

  .nav-links-desktop li {
    text-transform: uppercase;
    cursor: pointer;
  }

  .nav-links-desktop li a i {
    margin-right: 0.25rem;
  }

  .nav-logo img {
    left: 42%;
  }
}

@media screen and (min-width: 1024px) {
  main {
    height: 100vh;
  }

  .musicButton {
    left: 13rem;
  }


  #game {
    flex-direction: row;
    height: fit-content;
    gap: 5rem;
    align-items: flex-start;
    justify-content: space-around;
    height: calc(100vh - 6rem);
  }

  .shop {
    position: absolute;
    right: 2rem;
    top: 2.5rem;
  }

  .upgrade-info {
    display: block;
    position: absolute;
    right: 0 !important;
    top: 0;
    background-color: grey;
    padding: 0.5rem 2rem;
    width: 450px;
    max-width: 450px;
    border: 1px solid black;
    z-index: 1000;
  }

  .upgrade-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid white;
  }

  .info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 0.5rem;
  }

  .info-title-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .upgrade-tag {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.1rem 0.3rem;
    background-color: green;
    color: white;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  #upgrade-text {
    margin: 0.5rem 0;
  }

  .upgrade-cost {
    font-size: 0.8rem;
    font-weight: bold;
  }

  /*   .upgrade-row, .building-shop {
    width: 350px;
  } */

  .stats-container {
    position: absolute;
    left: 2rem;
    top: 5rem;
    height: 70vh;
    overflow-y: scroll;
  }
}
